In [29]:
import geopandas as gpd
import pandas as pd
import fiona
import matplotlib as plt

In [11]:
df = gpd.read_file("bdnb.gpkg")
df.head()
# But, this only shows one of the subdatasets (or layers) of the file .gpkg...

,cle_interop_adr,code_departement_insee,numero,rep,nom_voie,type_voie,code_commune_insee,code_postal,libelle_commune,source,nb_bat_grp,nb_bat_grp_hors_dep,geometry
0,183284640096306,34,20,NaN,des jardins d'alkinoos,rue,34172,NaN,Montpellier,Arcep,1,1,POINT (767634.030 6281632.930)
1,183284660096304,34,28,NaN,des jardins d'alkinoos,rue,34172,NaN,Montpellier,Arcep,1,1,POINT (767630.210 6281642.330)
2,183284680096302,34,42,NaN,des jardins d'alkinoos,rue,34172,NaN,Montpellier,Arcep,1,1,POINT (767621.090 6281657.350)
3,183284700096300,34,50,NaN,des jardins d'alkinoos,rue,34172,NaN,Montpellier,Arcep,1,1,POINT (767617.690 6281666.430)
4,183284720096298,34,58,NaN,des jardins d'alkinoos,rue,34172,NaN,Montpellier,Arcep,1,1,POINT (767614.360 6281675.840)

In [14]:
# Open the GeoPackage file as a geopandas GeoDataFrame
gdf = gpd.read_file('bdnb.gpkg')

# Print the list of all sub-datasets within the GeoDataFrame
print("Sub-datasets within the GeoDataFrame:", gdf.columns)

Sub-datasets within the GeoDataFrame: Index(['cle_interop_adr', 'code_departement_insee', 'numero', 'rep',
       'nom_voie', 'type_voie', 'code_commune_insee', 'code_postal',
       'libelle_commune', 'source', 'nb_bat_grp', 'nb_bat_grp_hors_dep',
       'geometry'],
      dtype='object')

'\n# Access a specific sub-dataset within the GeoDataFrame\nsub_df = gdf[[\'column1\', \'column2\']]\n\n# Print the subset of data\nprint("Subset of data:", sub_df.head())\n'

In [22]:
# Open the GeoPackage file with fiona to get a list of all the layers
gpkg = fiona.open('bdnb.gpkg', 'r')
layer_names = fiona.listlayers('bdnb.gpkg')

# Print the list of all layer names in the GeoPackage file
print("Layer names in the file:", layer_names)

Layer names in the GeoPackage file: ['adresse_compile', 'rel_batiment_groupe_adresse', 'batiment_construction', 'batiment_groupe_compile', 'parcelle', 'rel_batiment_groupe_parcelle', 'proprietaire', 'rel_batiment_groupe_proprietaire', 'dpe_logement', 'rel_batiment_groupe_bdtopo_bat', 'rel_batiment_groupe_bdtopo_equ', 'rel_batiment_groupe_bdtopo_zoa', 'rel_batiment_groupe_bpe', 'rel_batiment_groupe_dpe_logement', 'rel_batiment_groupe_merimee', 'rel_batiment_groupe_qpv', 'rel_batiment_groupe_rnc']

In [23]:
# Exemple
gdf_construction = gpd.read_file('bdnb.gpkg', layer='batiment_construction')
gdf_construction.head()

,batiment_construction_id,batiment_groupe_id,code_departement_insee,code_iris,code_commune_insee,s_geom_cstr,hauteur,altitude_sol,fictive_geom_cstr,geometry
0,BATIMENT0000000027761378-1,34344000AN0027_d3d9dbb5b7a932d,34,NaN,34344,43.0,5.0,NaN,False,"MULTIPOLYGON (((789383.034 6274342.661, 789382..."
1,BATIMENT0000000044491755-1,uf341110066800_ae6cbc327e53f2e,34,341110000,34111,88.0,5.0,147.8,False,"MULTIPOLYGON (((755586.100 6315711.800, 755586..."
2,BATIMENT0000000044598079-1,34154000BK0150_646bda0981afcac,34,341540106,34154,25.0,2.4,0.9,False,"MULTIPOLYGON (((782341.700 6277260.600, 782337..."
3,BATIMENT0000000044729356-1,341670000B0210_b492fcc25163c36,34,341670000,34167,21.0,6.0,6.0,False,"MULTIPOLYGON (((701346.700 6242217.400, 701348..."
4,BATIMENT0000000044490815-1,34174000AB0074_26733157640e037,34,341740000,34174,107.0,7.3,245.9,False,"MULTIPOLYGON (((758683.500 6316920.800, 758685..."

In [ ]:
gdf_construction.hist('hauteur', bins=1)

In [ ]:
# Deleting the uninteresting layers